*.iml
.DS_Store

.gradle/
.kotlin/
.idea/
local.properties

build/
app/build/
**/build/
captures/
.externalNativeBuild/
.cxx/

*.apk
*.aab
*.ap_
*.hprof
*.jks
*.keystore
*.orig
*.rej

LAB_SPRINT01.pdf
LAB_SPRINT02.pdf
LAB_SPRINT03.pdf
Sprint 01*All Screens.pdf

lint.xml
